body {
    background-color: #222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.title {
    color: #fff;
    font-size: 5em;;
    display: flex;
    justify-content: center;
    align-items: start;
}
.main-container{

    background-color: #382f2f2b; /* Lighter gray background for the rectangle */
    border-radius: 10px; /* Rounded corners */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 100px 100px;
    position: relative;
    box-sizing: border-box;
}

.main-container-textbox{
    width: 90%;
    height: 80%;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    flex-grow: 1;
    flex-shrink: 1;
    font-size:2em;
}
button {
    background-color: #86759647; /* Green */
    border: none;
    color: white;
    padding: 30px 60px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 2em;
    margin-top: 20px; /* Adjust margin-top as needed */
    cursor: pointer;
    border-radius: 5px;
}

.ready:hover {
    background-color: rgb(74, 170, 74); /* Darker green on hover */
}

.notReady:hover {
    background-color: rgb(146, 91, 59); 
}
#result {
    color: white;
    background-color: #333b3be6;
    border-color: none;
}

